In [13]:
import pandas as pd
import numpy as np
import os

yobs_df = pd.read_csv(r"D:\OneDrive - Old Dominion University\2023 Spring\cs620\HW2\yob-names", header=0)

In [6]:
#1:1 mapping to new names
new_names = {
  0: 'name',
  1: 'sex',
  2: 'frequency',
  'year': 'year',
}

# #do rename
yobs_df.rename(
  columns = new_names, 
  inplace = True
)

In [27]:
print(yobs_df.head(10))

   year       name sex  frequency
0  1880       Mary   F       7065
1  1880       Anna   F       2604
2  1880       Emma   F       2003
3  1880  Elizabeth   F       1939
4  1880     Minnie   F       1746
5  1880   Margaret   F       1578
6  1880        Ida   F       1472
7  1880      Alice   F       1414
8  1880     Bertha   F       1320
9  1880      Sarah   F       1288

In [33]:
# Question 2
# a) (5 pts) What is the most popular boys name in year 1980? 
yobs_1980_df = yobs_df[(yobs_df["year"] == 1980) &
                       (yobs_df["sex"] == "M")]
yobs_1980_df = yobs_1980_df.sort_values(by="frequency", ascending=False)
print(yobs_1980_df.head(10))

#  Michael is the most popular boys name in year 1980

        year         name sex  frequency
876137  1980      Michael   M      68702
876138  1980  Christopher   M      49101
876139  1980        Jason   M      48178
876140  1980        David   M      41913
876141  1980        James   M      39330
876142  1980      Matthew   M      37848
876143  1980       Joshua   M      36062
876144  1980         John   M      35288
876145  1980       Robert   M      34278
876146  1980       Joseph   M      30200

In [41]:
# b) (10 pts) How many girls were born between 1990 and 1992? 

yobs_female_df = yobs_df[(yobs_df["sex"] == "F") &
                          (yobs_df["year"] >= 1990) &
                          (yobs_df["year"] < 1993)]

yobs_female_df = yobs_female_df.sum()
print(yobs_female_df)


# I count all frequency between 1990 - 1992, the totally number of female names is 5616967.
# but I dont thing this can answer the question 2 according to our data.

year                                                  92203589
name         JessicaAshleyBrittanyAmandaSamanthaSarahStepha...
sex          FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...
frequency                                              5616967
dtype: object

In [ ]:
# c) (15 pts) Estimate the number of female Benjamin’s alive today (year 2022) who were born on or after 1950. For this particular query, use the given “cdclife-expectancy.csv” file to generate this result. We can interpret the data from this file as, “The average life expectancy of U.S. babies born in each year, for Males and Females” and so on.